.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: dodgerblue;
  height:50em;
}

.position { 
  height: 5em;
  color:white;
}
.date {
  height: 5em;
  color:white;
}
.maintenant {
  height: 5em;
  color:white;
}

.today {
  height: 5em;
  color:white;
}
.footer {
  height: 3em;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color:white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.button_position{
width :50%;
height: 4em;
background-color: rgba(255,255,255,0.3);
border-radius: 2em;
border:none;
font-size: 20px;
}
.recherche h1 {
  color:white;
}

.temperature_ville {
  display: inline-block;
  width : 40%;
  margin-left: 2%;
}

.temperature_ville img {
  width : 30%;
}
.button_favoris{
  width :15%;
  height: 3em;
  background-color: rgba(255,255,255,0.7);
  border-radius: 2em;
  border:none;
  margin-left: 2em;
  }

  .input {
    background-color: rgba(255,255,255,0.5);
    border-radius: 2em;
    border:none;
    width :15%;
    height: 3em;
  }

.App-header {
  background-color: dodgerblue;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer li{
  width :  30%;
  display: inline-block;

}
img {
  width : 5%;
  display: inline-block;
}
h3 {
  display: inline-block;
  width : 60%;
}
.vitesse {
  width : 30%;
  height: 3em;
    background-color: rgba(255,255,255,0.3);
    display: inline-block;
    border-radius: 1em;
}

.humidity {
  width : 30%;
    height: 3em;
    background-color: rgba(255,255,255,0.3);
    display: inline-block;
    border-radius: 1em;
    margin-right: 1em;
}


.description img {
  width : 20%;
  
}
.description h1 {
  font-size: 50px;
}
.description p {
  font-size: 15px;
}

.favoris{
color: white;
font-size: 25px;
}

.ville {
  color:whitesmoke;
  font-size : 20px;
  display: inline-block;
  width: 30%;
}
.ville img {
  width : 60%;
}

h1 {
  font-size: 30px;;
}
